
<div class="substrate">
  <div class="container d-flex">
    <div class="row">
      <div class="col left">
        <h1 class="header">"МЕБЕЛЬНЫЙ ПОМОЩНИК"</h1>
        <p class="description"> Приветствую вас. Это приложение поможет облегчить жизнь конструкторам, дизайнерам и
          руководителям небольших
          мебельных производств! Программа может быть как просто отдельной деталировкой, так состовлять мебель из
          стандартных модулей пересчитывая детали на нужный вам размер. При этом достаточно указать только габариты
          модуля. Так же будет добавлена возможность создавать модули в ручную, как кухонные так и шкафов и комодов.
          Также есть возможность полного просчета заказа с настройками цена на компоненты изделия.
        </p>
        <br><br><br><br>
        <p class="tech">Приложение разрабатывается на основе технологий SpringBoot, Hibernate, SpringData, Angular 7.0,
          Gradle, SpringSecurity.//будет дополнено
        </p>
      </div>
      <div class="col right">
        <div class="authorization">
          <label>Авторизация</label>
        </div>
        <div class="container two center-pill">
          <div *ngIf="isLoggedIn; else loggedOut">
          </div>
          <ng-template #loggedOut>
            <mat-card>
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <mat-card-content>
                  <mat-form-field class="login-full-width">
                    <input matInput [(ngModel)]="form.username" placeholder="Username" name="username"
                           #username="ngModel" required="true"/>
                    <mat-hint *ngIf="f.submitted && username.invalid">
                      <mat-hint *ngIf="username.errors.required">Username is required</mat-hint>
                    </mat-hint>
                  </mat-form-field>
                  <mat-form-field class="login-full-width">
                    <input type="password" matInput [(ngModel)]="form.password" #password="ngModel"
                           placeholder="Password" name="password" required="true" minlength="6"/>
                    <mat-hint *ngIf="f.submitted && password.invalid">
                      <mat-hint *ngIf="password.errors.required">Password is required</mat-hint>
                      <mat-hint *ngIf="password.errors.minlength">Password must be at least 6 characters</mat-hint>
                    </mat-hint>
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary">Login</button>
                  <mat-hint color="warn" *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                    Login failed: {{errorMessage}}
                  </mat-hint>
                </mat-card-actions>
              </form>
            </mat-card>
            <a href="signup" class="btn btn-success">Sign Up</a>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</div>

